/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-site-functionality-quotes {
    border: none !important;
    padding: 0 !important;

    &.is-style-background {
        background-color: var(--wp--preset--color--accent-5);
    }
}
